@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?tf9usg');
  src:  url('../fonts/icomoon/icomoon.eot?tf9usg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?tf9usg') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?tf9usg') format('woff'),
    url('../fonts/icomoon/icomoon.svg?tf9usg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-scroll:before {
  content: "\e900";
  color: #fff;
}
.icon-beef:before {
  content: "\e901";
  color: #e35028;
}
.icon-buns:before {
  content: "\e902";
  color: #f9b43b;
}
.icon-burger:before {
  content: "\e903";
  color: #fff;
}
.icon-cheese:before {
  content: "\e904";
  color: #f9b43b;
}
.icon-cucumber:before {
  content: "\e905";
  color: #8bc03f;
}
.icon-fb:before {
  content: "\e906";
  color: #fff;
}
.icon-hand:before {
  content: "\e907";
  color: #f9b43b;
}
.icon-inst:before {
  content: "\e908";
  color: #fff;
}
.icon-kkal:before {
  content: "\e909";
  color: #fff;
}
.icon-map-marker .path1:before {
  content: "\e90a";
  color: rgb(228, 80, 40);
}
.icon-map-marker .path2:before {
  content: "\e90b";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path3:before {
  content: "\e90c";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path4:before {
  content: "\e90d";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path5:before {
  content: "\e90e";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path6:before {
  content: "\e90f";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path7:before {
  content: "\e910";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path8:before {
  content: "\e911";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path9:before {
  content: "\e912";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path10:before {
  content: "\e913";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path11:before {
  content: "\e914";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path12:before {
  content: "\e915";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path13:before {
  content: "\e916";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path14:before {
  content: "\e917";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path15:before {
  content: "\e918";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path16:before {
  content: "\e919";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-map-marker .path17:before {
  content: "\e91a";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-meat:before {
  content: "\e91b";
  color: #e35028;
}
.icon-natural:before {
  content: "\e91c";
  color: #8bc03f;
}
.icon-phone:before {
  content: "\e91d";
  color: #e45028;
}
.icon-salad:before {
  content: "\e91e";
  color: #8bc03f;
}
.icon-sauce:before {
  content: "\e91f";
  color: #e35028;
}
.icon-twitter:before {
  content: "\e920";
  color: #fff;
}
.icon-vk:before {
  content: "\e921";
  color: #fff;
}

.icon-close:before {
  content: "\e938";
  color: #d8a462;
}