html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include ubuntu();
  color: $black;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 940px;
  // width: 95%;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}


// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
  
}

.section {
  min-height: 650px;
  display: block;
  &_centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
}
