.btn {
  padding: 5px 0px;
  text-align: center;
  background: $red;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  height: 35px;
  width: 100px;

  &__reviews {
    background-color: #1f2122;
    }

}

