.btn {
  padding: 10px 15px;
  text-align: center;
  background: $red;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
 // display: block;
  height: 100%;
 // width: 100%;

  &__reviews {
    background-color: #1f2122;
    }

}

