.section-title {
  @include gagalin();
  font-size: rem(72px);
  color: $yellow;
  
  &_color_black {
    color: $black;
  }

&_color_white {
  color: #fff;
}

  &_slider {
    color: #fff;
    line-height: 0.89;
    text-align: left;
  }

  &_position_center {
    display: flex;
    justify-content: center;
  }
}

