.acco {

  &__desc {
  color: #fff;
  font-size: rem(14px);
  @include ubuntu ();
  margin-left: rem(20px);

  &__text {
    width: 90%;
  }

  &__position {
    font-weight: bold;
    margin-bottom: rem(20px);
     }
  }

  &__elem {
    margin: 0 rem(100px);
    transition: 0.3s;
  }

  &__name {
    color:#fff;
    text-decoration: none;
    @include gagalin ();
    font-size: rem(14px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: rem(10px);

    &__active {
      color: $yellow;
    }

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: rem(5px) solid transparent;
      border-top-color: $yellow;
      border-bottom-width: rem(0px);
    }
  }
   
  &__content {
    height: rem(0px);
    overflow: hidden;

    &__active {
      display: flex;
      height: 100%; 
    }

  }

  &__pic {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    flex-basis: 100%;
    max-width: rem(100px);
  }
}

.acco__elem__active {
  .acco__name { color: $yellow;}
  .acco__content  {display: flex; height: 100%; }
}