.acco {

  &__desc {
  color: #fff;
  font-size: 14px;
  @include ubuntu ();
  margin-left: 20px;

  &__position {
    font-weight: bold;
    margin-bottom: 20px;
     }
  }

  &__name {
    color:#fff;
    text-decoration: none;
    @include gagalin ();
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &__active {
      color: $yellow;
    }

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: $yellow;
      border-bottom-width: 0px;
    }
  }
   
  &__content {
    height: 0px;

    &__active {
      display: flex;
      height: 100%; //от какой высоты?..
    }

  }

  &__pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    flex-basis: 100%;
    max-width: 100px;
  }
}