.best {
  background: url('../img/fon_best.jpg') center center no-repeat;
  background-size: cover;
}

.best__list {
  display: flex;
  justify-content: space-around;
}

.best__block {
  &__icon {
    text-align: center;
    font-size: rem(100px);
  }
  
  &__main {
    text-align: center;
    @include lifehack();
    font-size: rem(28px);
  }

  &__text {
    text-align: center;
    @include ubuntu();
    font-size: rem(14px);
  }
}