.footer {
  background: url('../img/fon_footer.jpg') center center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;

  &__container {
    height: rem(58px);
  }

  &__signature {
    font-family: 'Ubuntu';
    color: #fff;
    font-size: rem(14px);

    &__number {
      font-family: 'Ubuntu';
      font-weight: bold;
      color: #e45028;
      font-size: rem(14px);
    }
  }

&__separation {
  height: rem(75px);
  width: 100%;
  padding: rem(10px) rem(0px);
  display: flex;


&__one {

width: 50%;
height: 100%;
}

&__three {
 
  height: 100%;
  width: 50%;
}
}

&__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: rem(10px);
  fill: rgba(96,96,96,0.3);
  width: rem(25px);
  height: rem(25px); 
  cursor: pointer;
  &:hover {
    fill: rgba(255,255,255,1); }

  &:first-child {
    margin-left: 0; }
  }

&__wrap {
    text-align: right;
    margin: 0 auto;
    padding: rem(10px) 0px;
    margin-bottom: rem(5px);

  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  }

  }