.hero {
  background: url('../img/fon.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.header__btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav {
  display:flex;
}

.nav__list {
  display: flex;
}

.nav__item {
  display: flex;
  align-items: center;

  &:before {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;
    margin: 0 rem(15px);
  }
  &:first-child:before {
    display: none;
  }

  &:last-child {
    margin-right: rem(15px);
  }

}

.nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.hero__content {
  display:flex;
  align-items: center;
  flex: 1 1 auto;
  margin-bottom: rem(50px);
}

.hero__content-desc {
  @include lifehack();
  font-size: rem(65px);
  color: #fff;
}

.arrow-down__pic {
  position: absolute;
  left: 50%;
  bottom: rem(40px);
}