.menu {
  
  background: url('../img/fon_menu.jpg') center center no-repeat;
  background-size: cover;
  position: relative;

&__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

  &__title {
    color: #fff;
    text-align: left;
    margin: rem(100px) rem(90px);
  }

&__list {
 
 display: flex;
 justify-content: flex-end;
 position: absolute;
 
 right: 0;
 height: 100%;
 min-width: rem(650px);

 @include phones {
   min-width: 0;
 }
}

&__content {
 width: 100%;
 height: 100%;
 position: absolute;
}

&__elem {
display: flex;
}

  &__name {
    @include gagalin ();
    font-size: rem(40px);
    color: #fff;
    text-decoration: none;
    transform: rotate(-90deg);
    position: absolute;
    bottom: rem(30px);
    white-space: nowrap;
    display: inline-block;
    width: 100%;
  }

    &__btn {
      position: relative;
      width: rem(70px);
      background-size: cover;

    }
}

.menu__popup__text {
    width: 0px;
    text-align: left;
    color: #fff;
    font-size: rem(14px);    
    @include ubuntu;
    overflow: hidden;
}

.menu__elem__active {
  background-color: rgba(47, 50, 52, 0.92);
  
  .menu__popup__text{    
    width: 100%; 
    padding: rem(60px) rem(30px);
  }
  .menu__popup__btn {
      position: relative;
      width: rem(70px);
      background: url('../img/menu/fon1.png') center center no-repeat;
      background-size: cover;
      background-color: rgba(47, 50, 52, 0.92);
  }
}