.reviews-popups {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.92);
  z-index: 2000;
  transition: 0.3s;

  &__active {
    top: 0;
  }
}

.reviews-popups__window {
  position: relative;
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e45028;
  width: 80%;
  min-width: 300px;
  max-width: 460px;
  max-height: 250px;
  min-height: 200px;
}

.reviews-popups__name {
  color: #2f3234;
  @include gagalin;
  font-size: 14px;
  text-align: left;
  height: 100%;
  overflow: hidden;
  padding: 0 0 20px 0;
}

.reviews-popups__text {
  color: #2f3234;
  @include ubuntu;
  font-size: 14px;
  text-align: justify;
  height: 100%;
  overflow: hidden;
}

.reviews-popups__close {
  position: absolute;
  padding: 5px;
  top: 20px;
  right: 20px;
 }
