.reviews-popups {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.92);
  z-index: 2000;
}

.reviews-popups__window {
  position: relative;
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e45028;
  width: 80%;
  min-width: 300px;
  max-width: 900px;
  max-height: 900px;
  min-height: 200px;
}

.reviews-popups__text {
  text-align: justify;
  height: 100%;
  overflow: hidden;
}

.reviews-popups__close {
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
}