.reviews {
height: 100vh;

&__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

&__item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 25%;
  height: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }
}

&__text {
  padding: 20px;
  @include ubuntu();
  font-size: 14px;
  color: #fff;
  text-align: left;
}

&__hover {
opacity: 0;
transition: 0.3s;
padding: 50px 20px;
color: #fff;
}

&__title {
  @include gagalin();
  font-size: 14px;
  color: #fff;
}
}
