.slider {

width: 100%;
height: 100%;
padding: 90px 45px;
position: relative;

&__arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;

  &__left {
    left: 0; 
    right: auto;
    span {
      &:before {
        transform: rotate(90deg);
        position: absolute;
      }
    }
  }

  &__right {
    right: 0;
    left: auto;
    span {
      &:before {
        transform: rotate(-90deg);
        position: absolute;
      }
    }
  }
}

&__component {
  cursor: pointer;
  height: 90px;
  width: 90px;
  &:hover {
    .slider__component__drop {
      top: 0;
      opacity: 0.902;
   }
 }
  
&__text {
  color: #fff;
  @include gagalin();
  font-size: 14px;
}

&__icon {
font-size: 45px;
  &:before {
  color: #fff;
  }
}

  &__drop {
   position: absolute;
   padding: 10px; 
   border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.902);
    left: 10%;
    top: -1000px;
    opacity: 0;
    z-index: 10;
    }
 
&__icon {
  font-size: 30px;
}

&__name {
  @include ubuntu(); 
  font-size: 14px;
}

&__table {
  td {
    padding: 10px;
  }
}

&__btn {
  
  border-radius: 5px;
  background-color: rgba(227, 80, 40, 0.4);
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
}

&__list {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

&__elem {
  display: flex !important;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
}

&__col {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
 // position: absolute;
  
  &__text {
    font-size: 14px;
  color: #fff;
  line-height: 1.714;
  text-align: left;
  margin-bottom: 30px;
 }

   &__info {
     display: flex;
   }

   &__price {
    @include gagalin();
    font-size: rem(30px);
    color: $red;
    margin-right: 10px;
    span {
      font-size: 2em;
    }
   }

}

  &__img {
    width: 100%;
    height: 100%;
    //background-image: url("../img/slider/blackburger.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}