.team {
  background: url('../img/fon_team.jpg') center center no-repeat;
  background-size: cover;
  position: relative;

  &__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #2f3234;
    opacity: 0.929;
    display: flex;
  }
    
  &__title {
    text-align: center;
  }
  }
